{% extends 'core/_base.html' %}
{% load custom_filters %}

{% block title %}Photos{% endblock %}


{% block content %}
<div class="h-screen mt-5 pt-2">
    <div class="text-center mb-3">

        <a class="px-4 py-2 mt-20 rounded bg-white text-blue-700 border border-blue-700 text-2xl"
            href="{% url 'szymon:cat_photos'  %}">CAT</a>

        <a class="px-4 py-2 mt-20 rounded bg-white text-blue-700 border border-blue-700 text-2xl"
            href="{% url 'szymon:dog_photos'  %}">DOG</a>

        {% if request.user|in_group:"simon photos" %}
        <a class="px-4 py-2 mt-20 rounded bg-white text-blue-700 border border-blue-700 text-2xl"
            href="{% url 'szymon:simon_photos'  %}">SIMON</a>
        {% endif %}

        {% if request.user|in_group:"special photos" %}
        <a class="px-4 py-2 mt-20 rounded bg-white text-blue-700 border border-blue-700 text-2xl"
            href="{% url 'szymon:special_photos'  %}">Special</a>
        {% endif %}
    </div>

    {% if photo_id %}
    <div class="w-full h-5/6 flex justify-center">
        <img class="h-5/6 m-auto" src="{{ photo_id }}" alt="random photo">
    </div>
    {% endif %}
</div>
{% endblock %}