{% extends 'core/_base.html' %}

{% block title %}
Dashboard
{% endblock %}


{% block content %}

{% if error %}
<div class="justify-center flex">
    <div id="error-popup"
        class="fixed top-50px w-1/2 bg-red-500 text-white px-4 py-3 text-center text-lg font-semibold rounded-3xl">
        {{ error }}
        <button id="disable-error-popup" class="ml-4 text-lg text-red-500 p-2 font-medium bg-white rounded">X</button>
    </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
    document.getElementById('disable-error-popup').addEventListener('click', function () {
        document.getElementById('error-popup').classList.add('hidden');
    });
</script>
{% endblock %}