{% extends 'core/_base.html' %}

{% load custom_filters %}

{% block title %}
Quotes
{% endblock %}

{% block content %}
<div class="flex justify-between">
    <div class="w-4/12 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Search Quote</h1>
        <form action="{% url 'quotes:index' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="inline-block mb-2">Title</label><br>
                {{ form.title }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Content</label><br>
                {{ form.content }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Author</label><br>
                {{ form.author }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Quote Language</label><br>
                {{ form.language }}
            </div>

            <div class="mb-3">
                <div class="relative inline-block w-full">
                    <label class="inline-block mb-2">Is Favorite</label>
                    {{ form.is_favorite }}
                </div>
            </div>

            <div class="mb-3">
                <div class="relative inline-block w-full">
                    <label class="inline-block mb-2">Added by Me
                        {{ form.added_by_current_user }}
                    </label>
                </div>
            </div>
            {% include 'core/_form_errors.html' %}

            <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Generate
                Quote</button>

        </form>
    </div>

    <div class="w-7/12">
        {% if quote %}
        <h2 class="text-2xl font-semibold mb-2">{{ quote.title }}
            <a href="{% url 'quotes:favorite_quote' quote.id %}">{% if request.user|favorite_quote:quote.id %}★
                {% else%}☆{% endif %}
            </a>
        </h2>
        <h3 class="text-lg mb-2">@{{ quote.author }}</h3>
        <p> {{ quote.content|safe }}</p>
        {% else %}
        <h1 class="text-3xl font-semibold">No Quotes matching selected filters.</h1>
        {% endif %}
        <div class="flex">
            <div class="mt-20">
                <a href="{% url 'quotes:index' %}"
                    class="px-4 py-2 rounded bg-white text-blue-700 border border-blue-700 text-2xl">Random Quote</a>
            </div>
            <div class="mt-20">
                <a href="{% url 'quotes:add_quote' %}"
                    class="ml-5 px-4 py-2 rounded bg-white text-blue-700 border border-blue-700 text-2xl">Add Quote</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}