{% extends 'core/_base.html' %}

{% block title %}Notifications{% endblock %}
{% block head %}
<style>
    td {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <a class="px-5 py-2 rounded bg-white text-red-700 border border-red-700 text-2xl"
        href="{% url 'notifications:delete_notifications' %}">Delete all Notifications</a>
</div>
<div class="flex justify-center">
    <table class="bg-slate-100 border-separate border border-slate-500 border-spacing-2 w-10/12">
        <thead>
            <th>Title</th>
            <th>Date</th>
            <th>New</th>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr id="{{ notification.id }}">
                <td><a class="text-blue-600" href="{% url 'notifications:notification_detail' notification.id %}">
                        {{ notification.title }}</a></td>
                <td>{{ notification.date }}</td>
                <td>
                    {% if notification.read %}
                    Read
                    {% else %}
                    Unread
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}