{% extends 'core/_base.html' %}

{% block title %}Notification {{ notification.id }}{% endblock %}

{% block content %}
<div class="grid grid-cols-2">
    <div>
        <h1 class="text-3xl font-semibold mb-5">{{ notification.title }}</h1>
        <h2 class="text-xl mb-10">{{ notification.date }}</h2>
        <p>{{ notification.content }}</p>
    </div>
    <div>
        <a class="px-4 py-2 rounded bg-white text-green-700 border border-green-700 text-2xl"
            href="{{ notification.link }}">Go</a>
        <a class="px-4 py-2 rounded bg-white text-red-700 border border-red-700 text-2xl"
            href="{% url 'notifications:delete_notification' notification.id %}">Delete Notification</a>
    </div>
</div>
{% endblock %}